<!DOCTYPE html>
<html lang="en">
                    <!-- head    -->
                    <%- include('./partials/head.ejs') %>
                    <!-- head    -->
    <body>
                    <!-- header -->
                    <%- include('./partials/header.ejs') %>
                    <!-- header -->
        <main>

                    <!-- banner-feed -->
                    <%- include('./partials/banner-feed.ejs') %>
                    <!-- banner-feed -->

                   <!-- site-shopping-info -->
                   <%- include('./partials/site-shopping-info.ejs') %>
                   <!-- site-shopping-info -->      
            
            <section class= "last-visit">
                <div class="products">
                    <article>   
                        <a href="/details"><img src="images/pulserarolon.jpg" alt="cadena"></a>
                        <div class="main-article">
                            <i class="far fa-heart"></i>
                            <p class= "price">$6200</p>
                            <!-- <p class="discount">10% Off</p> -->
                            <h4 class="description">Cadena con dije de nacar</h4>
                        </div>
                    </article>

                    <article>   
                        <img src="images/art2.jpg" alt="aros">   
                        <div class="main-article">
                            <i class="far fa-heart"></i>
                            <p class= "price">$2600</p>
                            <p class="discount">10% Off</p>
                            <h4 class="description">Aros con corazon swarovsky blanco</h4>
                        </div>
                    </article>

                    <article>   
                        <img src="images/art3.jpg" alt="aros">   
                        <div class="main-article">
                            <i class="far fa-heart"></i>
                            <p class= "price">$3200</p>
                            <p class="discount">20% Off</p>
                            <h4 class="description">Argolla electroformada 6mm</h4>
                        </div>
                    </article>

                    <article>   
                        <img src="images/art4.jpg" alt="aros"> 
                        <div class="main-article">
                            <i class="far fa-heart"></i>
                            <p class= "price">$1400</p>
                            <!-- <p class="discount">20% Off</p> -->
                            <h4 class="description">Aro pasante de perlas cultivadas</h4>
                        </div>
                    </article>

                    <article>   
                        <img src="images/art5.jpg" alt="cadena">   
                        <div class="main-article">
                            <i class="far fa-heart"></i>
                            <p class= "price">$6700</p>
                            <!-- <p class="discount">10% Off</p> -->
                            <h4 class="description">Cadena con dije de piedra</h4>
                        </div>
                    </article>

                    <article>   
                        <img src="images/dije.jpg" alt="dije"> 
                        <div class="main-article">
                            <i class="far fa-heart"></i>
                            <p class= "price">$1600</p>
                            <p class="discount">10% Off</p>
                            <h4 class="description">Dije cuadrado swarovsky rojo</h4>
                        </div>
                    </article>

                    <article>   
                        <img src="images/anillo4.jpg" alt="dije"> 
                        <div class="main-article">
                            <i class="far fa-heart"></i>
                            <p class= "price">$3300</p>
                            <!-- <p class="discount">10% Off</p> -->
                            <h4 class="description">Anillo con nacar</h4>
                        </div>
                    </article>

                    <article>   
                        <img src="images/anillo2.jpg" alt="dije"> 
                        <div class="main-article">
                            <i class="far fa-heart"></i>
                            <p class= "price">$4300</p>
                            <p class="discount">5% Off</p>
                            <h4 class="description">Anillo con piedra blanca</h4>
                        </div>
                    </article>
                </div>
            </section>
                                
        </main>
        <%- include('partials/footer.ejs') %>
        
    </body>
</html>